body{
    padding: 5px;
    margin: 5px;
}

header{
    background: #666666;
    background-image: url(../images/flywheel.jpg);
    padding: 18px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 10px; */
}

h1{
    color: #FFFFFF;
    font-size: 35px;
    text-align: center;
}

nav a {
    display: inline-block;
    margin: 25px;
    border-radius: 6px;
    color: #000000;
    background-color: rgba(230,247,255,0.4);
    padding:10px;
    text-decoration: none;
    font-family: Arial, "Time New Roman",sans-serif;
    font-variant: small-caps;
}

.active{
    background-color: #FFFFFF;
}

main{
    display: table;
    width:100%;
    margin: auto;
}

.left{
    display: table-cell;
    width: 25%;
    padding:px 0;
    background-color: #609b24d0;
}

.left img{
    display: block;
    width: 90%;
    height:auto;
    border:solid #000000;
    margin:20% auto;   
}
.right{
    display:table-cell;
    padding: 1%;
    vertical-align: top;
}


/*                  Week 4 Assignments */



                /*
            Table:
• Font – multiple families, size, weight, and line-height!
• Width – don’t take up the entire space!
• Margin – center the table!
                */
.right table{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 75%;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: left;
}
.right td, th{
    padding: 14px;
}

                /*
        Table Heading:
• Change background color!
    • Try to use a gradient!
• Add a border!
    • Round only the top two corners.!
    • Make the bottom border thicker!
• Add at least one other property
                */

.right tr > th {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 2px solid #B1E153;
    background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 37%, rgba(117,137,12,1) 68%, rgba(117,137,12,1) 100%);
    background: -o-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 37%, rgba(117,137,12,1) 68%, rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 37%, rgba(117,137,12,1) 68%, rgba(117,137,12,1) 100%);
    background: linear-gradient(to bottom, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 37%, rgba(117,137,12,1) 68%, rgba(117,137,12,1) 100%);
}
                /*
            table rows!
• Set the opacity to a value of about .8!
• Left align the first column, center the other two!
• Set the opacity to a value of 1 when the element hovered upon.!
                */
.right tr:nth-child(n+1) {
    opacity: 0.8;
}

.right tr:nth-child(n+2):hover {
    opacity: 1;
}

.right tr > td:nth-child(n+2), .right tr > th:nth-child(n+2) {
    text-align: center;
}
.right tr > td {
    background-color: #e4f5d3;
    color: #676666;
    font-weight: 600;
    border-radius: 2px;
}